.loader {
  margin-top: 100px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 2px dashed saddlebrown;
  animation: loading 5s infinite linear;
}

@keyframes loading {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.5);
  }
}