.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100vw;
  background: bisque;
  padding: 0 20px;

  &_btns {
    display: flex;
    gap: 20px;
    padding-left: 40px;
  }

  &_btn {
    padding: 10px 15px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 400ms ease;
    text-decoration: none;
    color: black;


    &:hover {
      transform: scale(1.1);
      background: white;
      color: sandybrown;
      border: 1px solid sandybrown;

    }
  }

}



